/************ app body ************/
.appContainer {
    font-family: "Lato", sans-serif;
    padding: 0;
    overflow: auto;
}

.navbar {
	z-index: 10;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
	top: 0;
	left: 0;
	padding-top: 10px;
	background-color: #fff;
}

.navHome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 800px;
	margin: 0 3vw;
}

.navLanding {
	margin-left: 40px;
    display: flex;
    flex-flow: row;
    width: 320px;
    align-items: baseline;
    justify-content: space-between;
}

.appTitle {
    font-family: "Roboto", sans-serif;
    font-size: 38pt;
    text-decoration: none;
    color: #313131;
    width: 248px;
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    cursor: pointer;
    user-select: none;
	padding-left: 3vw;
}

.tinyLogo {
    height: 16px;
}

@keyframes swing {
    15% {transform: translateX(7px);}
    30% {transform: translateX(-3px);}
    50% {transform: translateX(5px);}
    65% {transform: translateX(0px);}
    80% {transform: translateX(2px);}
    90% {transform: translateX(0);}
    100% {transform: translateX(0);}
}

.appTitle:hover {
    animation: swing 1.25s ease;
    animation-iteration-count: 2;
}

.aws-btn {
	margin: 5px;
}

/************ landing intro ************/
.astronaut {
    margin-top: 20vh;
    height: 70vh;
    width: 70vh;
}

/************ list container ************/
.listContainer {
    height: calc(100vh - 71px);
    margin-top: 71px;
    padding: 0 calc(3vw - 25px);
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

.favTitle {
	padding: 25px 0 5px 25px;
    font-size: 15pt;
    user-select: none;
    white-space: nowrap;
}

.favCollection {
	padding-left: 25px;
}


/************ collection container ************/
.collectionContainer {
    padding: 25px;
}

.collTitleContainer {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.collTitleText {
    font-size: 15pt;
    user-select: none;
    white-space: nowrap;
}

.collTitleContainer .controls {
	visibility: hidden;
    transition-property: visibility;
    transition-delay: .2s;
}

.collTitleContainer:hover .controls {
    visibility: visible;
}

/**** list actions ****/


.editButton {
    border: none;
    background-color: transparent;
    color: #9b9b9b;
    margin: 0 15px;
    padding: 0;
    user-select: none;
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.plusButton {
	border: none;
	background-color: transparent;
	color: #9b9b9b;
	font-size: 15pt;
	padding: 0;
	margin: 0;
	user-select: none;
}

.editImg {
	width: 18px;
	margin: 0 0 -2px 0;
}

.addImg {
	width: 22px;
	margin: 0 0 -5px 0;
}

.addImg, .editImg {
	filter: invert(55%) sepia(79%) saturate(0%) hue-rotate(258deg) brightness(94%) contrast(98%);
	padding: 0;
}

.editImg:hover, .addImg:hover {
	cursor: pointer;
	filter: invert(69%) sepia(39%) saturate(736%) hue-rotate(121deg) brightness(100%) contrast(91%);
}

/***** bookmarks *****/
.bookList {
    margin-top: 5px;
}

.bookRow {
    cursor: default;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.borderCont {
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.titleColumn {
    width: 250px;
}

.bookTitle {
    text-decoration: none;
    color: #1d1d1d;
    font-size: 11pt;
}

.bookTitle:hover {
    color: #7e17ea;
}

.bookRow .controls {
    visibility: hidden;
    transition-property: visibility;
    transition-delay: .2s;
}

.bookRow:hover .controls {
    visibility: visible;
}

.editCol {
    border: none;
}

.favColumn {
	padding-right: 2px;
	color: #8b8b8b;
	font-size: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.faveIcon {
    height: 14px;
}

.unFave {
    filter: opacity(15%) grayscale(1);
}


/************ dialogs ************/
.modalBody {
    font-family: "Lato", sans-serif;
    height: 400px;
    min-width: 340px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: #1D1D1D;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.modalSmall {
    height: 230px;
}

.modalMedium {
    height: 300px;
}

.modalHeader {
    font-family: "Roboto", sans-serif;
    color: #313131;
    font-size: 24pt;
    margin-top: 20px;
}

.modalMessage {
    margin-bottom: 15px;
}

.collectionSelection {
    margin: 12px 0 36px 0;
    width: 80%;
}

.fieldWrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.submitWrapper {
    margin: 30px 0;
}

.deleteWrapper {
    margin-bottom: 30px;
}

/*********** User Drawer ************/
.paper {
    width: 35vw;
}

.userContainer {
    font-family: "Lato", sans-serif;
    font-size: 14pt;
    color: #313131;
    padding: 3vh 4vw;
}

.welcomeHome {
    font-family: "Roboto", sans-serif;
    font-size: 38pt;
    /*margin-bottom: 4vh;*/
}

.userMessage {
	margin-top: 15px;
}

.userForm {
    min-height: 130px;
    height: 15vh;
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding: 1vh 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.passForm {
    min-height: 260px;
    height: 30vh;
    border-top: 1px solid #eee;
    margin-top: 1.5vh;
    padding: 1vh 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.deleteWrapperUser {
    border-top: 1px solid #eee;
    margin-top: 1.5vh;
    padding: 40px 0;
}

.footer {
    font-size: 11pt;
}

.footerLink {
    text-decoration: none;
    color: #7e17ea
}


/****** mobile adjustments *******/
@media (max-width: 1009px) {
    .navbar {
        flex-direction: column;
        align-items: baseline;
    }
    .navHome {
        padding-top: 10px;
        width: 94vw;
    }
    .navLanding {
	    /*margin-left: 0;*/
	    margin-left: calc(3vw - 5px);
    }
    .listContainer {
        height: calc(100vh - 111px);
        margin-top: 111px;
    }
	.astronaut {
		margin-top: 15vh;
	}
	.paper {
		width: 60vw;
	}
	.welcomeHome {
		font-size: 22pt;
	}
}

@media(max-width: 680px) {
	.navbar {
		align-items: center;
		padding-top: 0;
		position: relative;
	}
	.navHome {
		width: 320px;
		flex-wrap: wrap;
		padding-top: 0;
	}
	.navLanding {
		margin-left: 0;
	}
	.appTitle {
		padding: 0;
	}
	.astronaut {
		height: 94vw;
		width: 94vw;
		margin-left: 3vw;
	}
	.paper {
		width: 80vw;
	}
	.favTitle {
		padding-left: 0;
	 }
	.favCollection {
		padding-left: 0;
	}
	.listContainer {
		width: 100vw;
		margin: 0;
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}
	.collectionContainer {
		margin: 0;
		padding: 25px 0;
		min-width: 320px;
	}
	.collTitleContainer .controls, .bookRow .controls {
		visibility: visible;
	}

	.bookTitle {
		font-size: 13pt;
	}
	.collTitleText {
		font-size: 18pt;
	}
	.plusButton {
		display: none;
	}
	.editImg {
		margin: 0 0 -1px 0;
		width: 20px;
	}
	.titleColumn {
		width: 240px;
	}

}

@media (max-width: 359px) {
	.bookTitle {
		font-size: 11pt;
	}
	.collTitleText {
		font-size: 14pt;
	}
	.plusButton {
		font-size: 14pt;
		color: #c7c7c7;
		margin-right: 0;
	}
	.editButton {
		font-size: 12pt;
	}
	.modalBody {
		min-width: 300px;
	}
	.collectionContainer {
		min-width: 300px;
	}
	.bookRow {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: 290px;
		/*width: 90vw;*/
	}
	.titleColumn {
		/*width: 80vw;*/
		width: 220px;
	}
}

/*@media (max-width: 345px) {*/
/*    .appContainer {*/
/*        padding-left: 10px;*/
/*    }*/

/*    .bookRow {*/
/*        width: 310px;*/
/*    }*/

/*    .borderCont {*/
/*        padding-right: 0;*/
/*        width: 240px;*/
/*    }*/

/*}*/