.darkHome {
	color: #eeeeee;
	background-color: #121212;
}

.darkNavText {
	color: #ffffff;
}

.darkBook {
	color: #fff;
}

.darkGlow {
	color: #ccc
}

.darkGlow:hover {
	color: #2DE0C6;
}

.darkDialog {
	background-color: #191919!important;
}

.darkText {
	color: #fff
}

.darkLink {
	color: #2de0c6;
}

.darkApp {
	background-color: #121212;
}

.darkUserForm {
	border-top-color: #4d4d4d;
}

.darkCollection {
	border-color: #444;
}